
.button {
    background-color: maroon;
    border: 0;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
	border-radius:7px;
    display: block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
	width:20%;
    height:8%;
    line-height:40px;
    line-height:20px;
	margin:15px auto;
	font-family:Georgia;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
}

.button {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.button:hover {
    background-color: #555555;
    color: white;
}
h2 {
color:maroon;
font-size:40px;
font-family:Georgia;
}
.header {
	padding:30px;
	background-color:#FFFFFF;	
}

.button1 {
	background-color: maroon;
	color:white;
    border: none;
    padding: 8px 32px;
    text-align: center;
    text-decoration: none;
	border-radius:12px;
    display:inline-block;
    font-size: 16px;
    cursor: pointer;
	margin:15px auto;
	font-family:calibri;
    box-shadow:0 4px #999; 
    }
	
.button1:hover{ background-color: #555555;
    color: white;
}
		
.searchBar{
	
	height:30px;
	border-radius:12px;
}

.objectPadding{
	
	padding:50px;
	background-color:white;
	border:none;
	width:200px;
	height:250px;	
}
h2{
	text-align:center;
}